$error-color: rgba(red, .6);

.help-block
{
  color: $error-color;
}

.has_error
{
  border-color: $error-color;
}

.form_group
{
  margin-bottom: 20px;
}

.selected_values
{
  // color: rgb(170,170,170);
  color: #aaa;
  font-size: 14px;
  padding-right: 16px;
}

.phone_2
{
  border: 1px solid gray;;
}

// Make all inputs the same height
// Shared size and type resets
// $line-height-computed + $font-size-base are ionic variables
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: $line-height-computed + $font-size-base + 2;
}
